.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.clr-btn{
  background-color: red;
  text-transform: capitalize;
  text-decoration: solid;
  font-weight: 700;
  margin-top: 30px;
  border-radius: 5px;
  color: white;
  padding: 10px 30px;
}
.smbt-btn{
  background-color: lightgreen;
  text-transform: capitalize;
  text-decoration: solid;
  font-weight: 700;
  margin-left: 10px;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
